@page
@model Booking_Gruppe.Pages.Kalendere.IndexModel
@{
    ViewData["Title"] = "Kalender";
}

<div class="text-center">
    <h2>@ViewData["Title"]</h2>

    <div>
        <a asp-page="./Index" asp-route-month="@(Model.CurrentMonth.AddMonths(-1).ToString("MM"))" class="btn btn-primary">Sidste Måned</a>
        <span>@Model.CurrentMonth.ToString("MMMM yyyy")</span>
        <a asp-page="./Index" asp-route-month="@(Model.CurrentMonth.AddMonths(1).ToString("MM"))" class="btn btn-primary">Næste Måned</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Søn</th>
                <th>Man</th>
                <th>Tir</th>
                <th>Ons</th>
                <th>Tor</th>
                <th>Fre</th>
                <th>Lør</th>
            </tr>
        </thead>
        <tbody>
            @for (var week = 0; week < Model.Weeks.Count; week++)
            {
                <tr>
                    @foreach (var day in Model.Weeks[week])
                    {
                        <td>
                            <div class="date-container">
                                <span class="date @(day.Month != Model.CurrentMonth.Month ? "disabled" : (day < DateTime.Now ? "past-date" : (Model.TakenDates.Contains(day) ? "taken" : "")))">
                                    @day.Day
                                </span>
                                <button>
								<a class="btn btn-info btn-sm" asp-area="" asp-page="/Kvittering/Kvittering1">Book Tid</a>    
                                </button>
                            </div>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
